{% extends "reservation/base.html" %}
{% block title %}About{% endblock %}
{% block content %} {{ block.super }}
    <p>It is a simple web application for booking conference rooms in office building.
        The application was created using the Django framework.
        The user can only book rooms for the whole day.</p><br>

    <h2>Main page:</h2>
    <p>Upon entering the home page, the user sees all conference rooms and their status as of today. Next to the name of
        each room, there are buttons for modifying the room data, deleting it, and booking a room</p><br>

    <h2>Detailed view of the conference room:</h2>
    <p>After clicking on the room name, the user will see all the room data:</p>
    <ol>
        <li>name of the room,</li>
        <li>capacity,</li>
        <li>whether it has an overhead projector.</li>
    </ol>
    <p>Additionally, a list of days on which the room will be unavailable is displayed. User can not see days from the
        past. There are buttons that:</p>
    <ol>
        <li>will allow to book this room,</li>
        <li>delete this room,</li>
        <li>modify this room.</li>
    </ol><br>

    <h2>Adding a new room</h2>
    <p>The user can add a new room.</p><br>

    <h2>Editing the room</h2>
    <p>After entering the room edition page, the user may enter the room data (name, capacity, projector).</p><br>

    <h2>Reservation of the room</h2>
    <p>After entering the room booking website, the user will again see the list of days when the room will be occupied
        (no days from the past are visible). User can enter the date of booking a given room. The system makes sure not
        to duplicate the reservation on a given day for a given room and that the date is not from the past.</p><br>

    <h2>Searching for a room</h2>
    <p>The user can search for rooms with the following conditions:</p>
    <ol>
        <li>name of the room,</li>
        <li>room capacity,</li>
        <li>projector availability.</li>
    </ol>
{% endblock %}
