<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'reservation/css/base.css' %}">
</head>
<body>
<div class="topnav">
    <a class="active" href="{% url 'room-table' %}">Home</a>
    <a href="{% url 'room-new' %}">Add a room</a>
    <a href="{% url 'room-search' %}">Search</a>
    <a href="{% url 'room-about' %}">About</a>
</div>

{% block content %} {% endblock %}

<footer class="footer">
    <small>Author: Rafał Jedel</small>
</footer>
</body>
</html>
