{% extends "reservation/base.html" %}
{% block title %} Modify Room {% endblock %}
{% block content %} {{ block.super }}
    <h2>Edit room:</h2>
    {% if message %}
        <h1>{{ message }}</h1>
    {% endif %}
    <form method="post">{% csrf_token %}
        <table>
            <tr>
                <th><label for="id_name">Name:</label></th>
                <td><input type="text" name="name" minlength="1" maxlength="255" required id="id_name"
                           value="{{ room.name }}"></td>
            </tr>
            <tr>
                <th><label for="id_capacity">Capacity:</label></th>
                <td><input type="number" name="capacity" min="1" max="32767" required id="id_capacity"
                           value="{{ room.capacity }}"></td>
            </tr>
            <tr>
                <th><label for="id_projector">Projector:</label></th>
                <td><input type="checkbox" name="projector" value="True" {% if room.projector %} checked {% endif %}
                           id="id_projector"><label for="id_projector">projector
                    is available</label></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
