{% extends "reservation/base.html" %}
{% block title %} Rooms {% endblock %}
{% block content %}
    <table id="customers">
        {% if rooms %}
            <tr>
                <th>no.</th>
                <th>name</th>
                <th>capacity</th>
                <th>available today</th>
                <th>projector availability</th>
                <th>edit room</th>
                <th>delete room</th>
                <th>book room</th>
            </tr>
            {% for room in rooms %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="/room/details/{{ room.pk }}/">{{ room.name }}</a></td>
                    <td>{{ room.capacity }}</td>
                    <td>{% for obj in room.reservations.all %}{% if obj.date == today %}unavailable
                    {% endif %}{% endfor %}</td>
                    <td>{{ room.projector|yesno:"yeah,no,maybe" }}</td>
                    <td><a href="/room/modify/{{ room.pk }}/">
                        <button>edit {{ room.name }}</button>
                    </a></td>
                    <td><a href="/room/delete/{{ room.pk }}/">
                        <button>delete {{ room.name }}</button>
                    </a></td>
                    <td><a href="/room/reserve/{{ room.pk }}/">
                        <button>reserve {{ room.name }}</button>
                    </a></td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <h1>No rooms available</h1>
        {% endif %}
{% endblock %}
