{% extends "reservation/base.html" %}
{% block title %}Search for a room{% endblock %}
{% block content %}
    <form>
        <table>
            <tr>
                <th><label for="id_name">Name:</label></th>
                <td><input type="text" name="name" minlength="1" maxlength="255" id="id_name"
                           {% if name %}value="{{ name }}" {% endif %}></td>
            </tr>
            <tr>
                <th><label for="id_capacity">Capacity:</label></th>
                <td><input type="number" name="capacity" min="1" max="32767" step="1" id="id_capacity"
                           {% if capacity %}value="{{ capacity }}" {% endif %}></td>
            </tr>
            <tr>
                <th><label for="id_projector">Projector:</label></th>
                <td><input type="radio" name="projector" value="True" id="id_projector"
                           {% if projector ==  'True' %}checked{% endif %}>room with a projector<br>
                    <input type="radio" name="projector" value="notTrue" id="id_projector"
                           {% if projector ==  'notTrue' %}checked{% endif %}>room without a projector
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Search</button>
                </td>
            </tr>
        </table>
    </form>

    {% if rooms %}
        <table id="customers">
            <tr>
                <th>no.</th>
                <th>name</th>
                <th>capacity</th>
                <th>available today</th>
                <th>projector availability</th>
                <th>edit room</th>
                <th>delete room</th>
                <th>book room</th>
            </tr>
            {% for room in rooms %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'room-details' room.pk %}">{{ room.name }}</a></td>
                    <td>{{ room.capacity }}</td>
                    {% if room.reserved %}
                        <td style="color:red;">unavailable</td>
                    {% else %}
                        <td style="color:green;">available</td>
                    {% endif %}
                    {#                    <td>{{ room.projector|yesno:"yeah,no,maybe" }}</td>#}
                    {% if room.projector %}
                        <td style="color:green;">&#9745;</td>
                    {% else %}
                        <td style="color:red;">&#9746;</td>
                    {% endif %}
                    <td><a href="{% url 'room-modify' room.pk %}">
                        <button>edit {{ room.name }}</button>
                    </a></td>
                    <td><a href="{% url 'room-delete' room.pk %}">
                        <button>delete {{ room.name }}</button>
                    </a></td>
                    <td><a href="{% url 'room-reserve' room.pk %}">
                        <button>reserve {{ room.name }}</button>
                    </a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if message %}
        <h1>{{ message }}</h1>
    {% endif %}
{% endblock %}
